.button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(55, 79, 146);
    background-color: rgb(--avatair-blue);
    text-decoration: none;
    /* color: white; */
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    /* background: #e62222; */
}

a .button {
    padding: 10px;
}

.button-settings {
    color: rgb(0, 0, 0);
}

.button-blue{
    color:white;
}

.modal-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

.modal-button,
.modal-button span {
    transition: 200ms;
}

.modal-button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}


.modal-button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button svg {
    width: 15px;
    fill: #eee;
}

.modal-button:hover {
    background: #ff3636;
}

.modal-button:hover .text {
    color: transparent;
}

.modal-button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.modal-button:focus {
    outline: none;
}

.modal-button:active .icon svg {
    transform: scale(0.8);
}

.button-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
}

.delete-bottom {
    width: 15px;
}

.delete-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.button-delete:hover .delete-top {
    transform: rotate(45deg);
}

.button-delete:hover {
    background-color: rgb(255, 0, 0);
}

.button-delete:active {
    transform: scale(0.9);
}

.button-purple {
    background-color: var(--avatair-blue);
    border-color: var(--avatair-blue);
    color: white;
}

.button-purple:hover {
    background-color: white;
    color: var(--avatair-blue);
}

.button-grey {
    background-color: white;
    border-color: var(--light-gray);
    color: var(--light-gray);
}

.button-grey:hover {
    background-color: var(--light-gray);
    color: white;
}

.button-transparent {
    background-color: transparent;
    border: none;
}

.button-transparent:hover {
    background-color: #DDDDDD;
}

.button-green {
    background-color: var(--success-green);
    border-color: var(--success-green);
    color: black;
}

.button-green:hover {
    background-color: white;
}

.button-red {
    background-color: var(--error-red-pastel);
    border-color: var(--error-red-pastel);
    color: white;
}

.button-red:hover {
    background-color: white;
    color: var(--error-red-pastel);
}

.go-back {
    width: max-content;
    height: auto;
    font-family: inherit;
    font-size: 30px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 80%;
    margin: 1px 10px 5px 10px;
}

.go-back .back-icon {
    margin-right: 10px;
}
/* .go-back Fa {
    font-size: 30px;
} */

.button-icon {
    padding: 0;
    width: 47px;
    height: 47px;
    text-align: center;
    line-height: 40px;
}

.button-fade {
    margin-top: 15px;

    opacity: 0;
    animation: fade 2s linear;
}